/* Screensize */
$mobile: 500px;
$tablet: 900px;
$desktop: 901px;

#results {
    @media only screen and (max-width: $mobile) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
    }
    @media only screen and (min-width: $mobile) and (max-width: $desktop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    @media only screen and (min-width: $desktop) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}



.searchArea {
    display: flex;
    justify-content: center;
}

.form {


    &__input {
        margin: 1px;
    }
}

.card {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;

    max-height: 600px;

    

    &__description {
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
#results img {
    // max-width: 200px;
    object-fit: cover;
    border-radius: 5px;
}